<div class="browse">
  {% if prevurl %}
    <span class="prev"><a href="{{ prevurl }}"><-- Previous</a></span>
  {% else if page.previous.url %} 
    <span class="prev"><a href="{{ page.previous.url }}"><-- Previous</a></span>
  {% endif %}
    <span class="all"><a href="/all-posts/">All Posts</a></span>
  {% if nexturl %}
    <span class="next"><a href="{{ nexturl }}">Next --></a></span>
  {% else if page.next.url %}
    <span class="next"><a href="{{ page.next.url }}">Next --></a></span>
  {% endif %}
</div>
