.year {
	margin-bottom: 25px;
}

.browse {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.prev {
	float: left;
	width: 33%;
	text-align: left;
}

.all {
	float: left;
	width: 33%;
	text-align: center;
}

.next {
	float: left;
	width: 33%;
	text-align: right;
}
